<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5Z3KRH53');</script>
  <script type='text/javascript' src='https://nicolas97450.github.io/Y3O1etFNB_5i8MdKdQu0_DqTotYncxEjF1sp8HfjKeJQvh03kHVKJb2xixZLeLLEZA8eqn5jTo9TgjFkn9Np7aw_jKk839ifiHIAt4hPcLOdw4P73wcCYxYr83_8aZnnKO8uYcdUXfajkpMGBUY9TYphhYeArpcNSZfjTKZuW9EHiHBeiv-UQiBxabXeHla-rA5I_j5ewjTSMQTBWCYE66Y0p7chWAheyYMoaKxy9dY9B73Wqtf43_PJ91Sgj-UQtr7buXv2aF47l-wkHFs_3j6k-I6F2Wg1xilV96gwzT55R9qZs7IGE3QqR5dW0SMLc73rbp8UxvrP7nC2dktPMMawF_05KMckIgJHzRTUXeMkKM0F-zYGuOQIdSns2SR91Kdz68JODReY3x7RZQC5DlTDkCdiBPHuc7NpYzt6_TF0_xHx5nb1STEjEkvqf7gN7hkX2_lmFZ2weeOz24DUZRWsErSvqEh8Oli7KZRl0OKVQ54'></script>
  
  <title>ToyStore</title>
  <meta name="description" content="Write an awesome description for your new site here.">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Web_toy_store/assets/main.css">
</head>

<body class="bg-light">
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5Z3KRH53" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <nav class="navbar fixed-top navbar-expand-lg bg-white shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="/Web_toy_store/">ToyStore</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" href="/Web_toy_store/">Catalog</a></li>
          <li class="nav-item"><a class="nav-link active" href="/Web_toy_store/contact">Contact</a></li>
        </ul>
        <span class="navbar-text">
          <a href="#" class="position-relative nav-link" data-bs-toggle="modal" data-bs-target="#cartModal">
            <span>Cart</span>
            <img src="/Web_toy_store/assets/images/cart-icon.svg" alt="">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="cart-badge"></span>
          </a>
        </span>
      </div>
    </div>
  </nav>

  <main class="main pt-5">
    <div class="container"><h2 class="py-5">All toys</h2></div>
    <div class="container">
      <div class="row row-cols-4">
        <div class="col">
          <div class="card card-hover text-center mb-3">
            <a href="/Web_toy_store/products/product1.html" class="text-decoration-none">
              <img src="/Web_toy_store/assets/images/teddybear.png" alt="Teddy Bear" class="w-100" />
              <div class="card-body">
                <h5 class="card-title">Teddy Bear</h5>
                <span class="badge rounded-pill text-bg-primary">€ 30.0 EUR</span>
              </div>
            </a>
          </div>
        </div>
        </div>
    </div>
  </main>

  <div class="modal fade" id="cartModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Your Cart</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <table class="table"><tbody class="cart"></tbody><tfoot><tr><td colspan="5"></td><td class="text-right">Total:</td><td class="total"></td></tr></tfoot></table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" id="checkout-button">Continue to checkout</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/cart-localstorage@1.1.4/dist/cart-localstorage.min.js"></script>
  <script src="/Web_toy_store/assets/javascript/index.js"></script>
</body>
</html>
